body{
    font-family: 'Poppins', sans-serif; margin: 0; padding: 0;
}
.orange-color{color: orange;}
.flaxble{
    display: flex; margin-bottom: 100px;
}
h1{font-weight: 700;}
.half-width{
    width: 70%; padding: 2%;
}
.half-width img{
    width: 85%;
}
.button{text-decoration: none; border-radius: 5px; padding: 12px 45px;color: white;
    background-image: linear-gradient(purple,tomato);
}
#corner-img{
    background-image: url(images/top-banner.png);background-repeat: no-repeat;
}
.button1{
    text-decoration: none;padding: 12px 45px; color: white;background-image: linear-gradient(#7738D8,#FF1F77);border-radius: 7px;
}
#rightside-img{background-image: url(images/dream-bg.png);background-repeat: no-repeat;background-position: right;}